/*
Theme Name: ILK Test
Theme URI: 
Author: Usman
Author URI: https://u5man.com/
Description: Only Testing 
Version: 1.0
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

p {
  padding: 0;
  margin: 0 0 10px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 130px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background: #ffffff;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo img {
  padding: 0;
  margin: 7px 0;
  max-height: auto;
  max-width: 10%;
}

@media (max-width: 992px) {	
	#header .logo img {
		 max-width: 25%;		
	}
	
	#header {
		  height: 100px;		  
	}
}

.main-pages {
  margin-top: 60px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.main-nav {
  margin-left: 290px !important;
  margin-right: 290px !important;
}

@media (max-width: 992px) {	
	.main-nav {
		max-width: 100%;
	}
	
	.main-nav, .main-nav * {    
    padding-top: 0px !important;
    margin-top: -15px !important;
    display: inline;
}
}

.main-nav, .main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 5px;
  margin-top: -15px;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: right;
}

.main-nav > ul > li:nth-child(1) {
	float: left;
}

.main-nav > ul > li:nth-child(2) {
	float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #413e66;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.main-nav a:hover, .main-nav .active > a, .main-nav li:hover > a {
  color: #1bb1dc;
  text-decoration: none;
}


/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(40, 38, 70, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #8dc2fa;
  text-decoration: none;
}

/*--------------------------------------------------------------
# banner Section
--------------------------------------------------------------*/
#banner {
  width: 100%;
  height: 100vh;
 /* background: url("http://35.177.192.250/Ilk-test/wordpress/wp-content/uploads/2020/07/products-header-return-xl.jpg"); */
  background-size: cover;
}

@media (max-width: 767px) {
	
	.img-fluid {
    max-width: 100% !important;
    }
  #banner {
    height: auto;
    padding: 150px 0 60px 0;
  }
  #banner .container {
    height: auto !important;
  }
  #banner .intro-img {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #banner .intro-info {
    padding-top: 10px;
	text-align: center;
	padding-left: 300px;
  }
}

@media (max-width: 767px) {
  #banner .intro-info {
    text-align: center;
    padding-top: 20px;
  }
}

#banner .intro-info h2 {
  color: #ffffff;
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: 700;
  background: #33b2b5;
}

#banner .intro-info h4 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 290;
  background: #2c2e30;
}


@media (max-width: 767px) {
  #banner .intro-info h2 {
    font-size: 34px;
    margin-bottom: 0px;
  }
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Section with background
--------------------------------*/
.section-bg {
  background: #f5f8fd;
}

/* About Section
--------------------------------*/
#about {
  padding: 20px 0;
}

#about .about-content {
  padding: 40px;
  text-align: center;
  
}

#about .about-content h2 {
  color: #413e66;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#about .about-content h3 {
  color: #33b2b5;
  font-weight: 600;
  font-size: 22px;  
}

/* About 2 products Section
--------------------------------*/

#about-2 {
  padding: 40px 0;
}

#about-2 .fa-lg {
    font-size: 3em;
	color: #ea6355;
}

#about-2 .hr {
	width:82%;   	
    height: 1px;
    background: #ea6355;
	margin-left:100px;	
}
#about-2 .col-lg-3 {
	margin-bottom: 20px;
}

#about-2 h1{
	color: #33b2b5;
	font-weight: 600;
	margin: 0 0 0 0;
	font-size: 3em;
}
#about-2 h2{
	color: #33b2b5;
	font-weight: 600;
	margin: -8px 0 0 0;
	font-size: 1.8em;
}
#about-2 h4{
	font-size: 18px;
	color: #33b2b5;
	font-weight: 600;
	margin: 10px 0 0 0;
}
#about-2 p{
	font-size: 12px;
	color: #adb5bd;
}

/* Projects Section
--------------------------------*/
#projects {
	max-width: 98%;
    margin: auto;
}

#left {
  width: 100%;
  height: 60vh;
  background: url("http://35.177.192.250/Ilk-test/wordpress/wp-content/uploads/2020/07/products-blue-image-xl.jpg");
  background-size: cover;
}

#left .intro-info {
    padding-top: 80px;
    text-align: center;    	
}

#left h2 {
	color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

#left p {
	padding-top: 20px;
	padding-bottom: 60px;
	color: #fff;    
    text-align: center;
}

#right {
  width: 100%;
  height: 60vh;
  background: url("http://35.177.192.250/Ilk-test/wordpress/wp-content/uploads/2020/07/products-red-image-xl.jpg");
  background-size: cover;
}

#right .intro-info {
    padding-top: 80px;
    text-align: center;   
}

#right h2 {
	color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

#right p {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;    
    text-align: center;
}

#projects .cta-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 3px;
    transition: 0.5s;
    margin: 10px;
    border: 3px solid #fff;
    color: #fff;
}

/* Contact
--------------------------------*/
#Contact {
  background: #33b2b5;
  background-size: cover;
  padding: 40px 0;
  align-items: center;
}

#Contact .cta-title {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

#Contact .cta-text {
  color: #fff;
}

#Contact .cta-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 3px solid #fff;
  color: #fff;
}

#Contact .cta-btn:hover {
  background: #4d4a70;
  border: 3px solid #1bb1dc;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
}

#footer .footer-top {
  padding: 80px 0 80px 0;
  background: #2c2e30;
}

#footer .footer-top .footer-info {
  max-width: 100%;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #413e66;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

#footer .footer-submit{
	padding: 20px 0 20px 0;	
}
#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #33b2b5;  
  position: relative;
  padding-bottom: 0px;
}

#footer form.example input[type=text] {
  padding: 10px;
  font-size: 17px; 
  float: left;
  width: 60%;
  background: #f1f1f1;
}

#footer form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #33b2b5;
  color: white;
  font-size: 17px;  
  border-left: none;
  cursor: pointer;
}

#footer form.example button:hover {
  background: #0b7dda;
}

#footer .footer-top .footer-contact-info {
  max-width: 100%;
  float: left;
  
}

#footer .footer-top .footer-contact-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

#footer .footer-top .footer-contact-info h4 {
  font-size: 14px;
  font-weight: bold;
  color: #33b2b5;
  position: relative;
  padding-top: 30px;
  text-transform: none !important;
}

#footer .footer-top .footer-contact-info span {  
  color: #33b2b5;  
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
  border: 1px solid #d9dde6;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #1bb1dc;
  border: 1px solid #1bb1dc;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.divider{
 float:left;
 height:300px;
 width:1px;
 background-color: #ffffff;
 } 

#footer .footer-top .links {
	padding-top: 90px;
	padding-left: 50px;
}
 
#footer .footer-top .links ul {
	 list-style-type:none;
	 color: #ffffff;
	 font-size: 14px; 
	 padding: 0px;
}

#footer .footer-top .links p {
	 color: #ffffff;
	 font-size: 14px;     
} 

#policy {
	margin-top: 60px;
}

#footer .footer-top .col-lg-6 {
	 max-width: 48%;
} 

@media (max-width: 992px) {	
	.divider {
		display:none;
	}
    
    #footer .footer-top .col-lg-6 {
		  max-width: 100%;
		} 	
	#about-2 .hr {	
	margin-left:30px !important;	
    }	
}

.img-fluid {
	max-width: 120%;
}
